# FRONTEND CONFIGURATION
FRONTEND_PORT=3000

# BACKEND CONFIGURATION
BACKEND_PORT=8080
BACKEND_JWT_SECRET=806c27ef61ba1206e064746f9ef71c9a82d00b511a4ca012b21c851fdae437a9a1ee47e8356132c6e59bbce14e8427c358a734d583ff54cfcbba1fc2a64f9c98
# If you want to use a db outside of the docker compose stack
# DB_URI=mongodb://root:example@127.0.0.1:27017/link24?authMechanism=DEFAULT&authSource=admin...

# DATABASE CONFIGURATION
DB_PORT=1234
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_INITDB_DATABASE=link24
